#navbar {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, .0625);
    border-bottom: var(--border);
    height: 52.333px;
    position: fixed;
    top: 0;
    width: 100%;
}
@supports(backdrop-filter: blur(2px)){
    #navbar {
        background: none;
    }
}

 #navbar td > div {
    margin-top: .5px;
    padding-top: .5px;
}

#navbar h1 {
    text-align: center;
    margin: 0;
}
