# Route typical requests through "index.php".
RewriteEngine on
RewriteRule ^(.(?!(\.css|\.js|\.png|\.jpg|\.gif|\.webm|\.cur|\.svg|\.eot|\.woff|\.woff2|\.ttf|captcha\.php|chat\.php|log\.html)$))*$ index.php

# Turn off "on line 0" php errors.
php_flag display_startup_errors off

# Uploading permissions.
php_value upload_max_filesize 5M
php_value post_max_size 5M

# Heavily modify headers.
#Header set Access-Control-Allow-Origin "*"
Header unset Cache-Control
#Header set Connection ""
Header set Content-Type ""
#Header set Date "Thu, 01 Jan 1970 00:00:00 UTC"
Header unset Expires
#Header set Keep-Alive ""
Header unset Pragma
#Header set Server ""
#Header set Transfer-Encoding ""
Header unset X-Powered-By