@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
/* ########################################################################## */
/* #### Global defaults ##################################################### */
/* ########################################################################## */
* {
	cursor: url("/includes/pointer.cur"), auto;
	margin: 0;
	padding: 0;
}

html {
	animation: fade-in 1s;
	background-attachment: fixed;
	background-color: #111;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjQiPgogIDxwYXRoIHN0eWxlPSJzdHJva2U6IzAwMDtzdHJva2Utd2lkdGg6LjU7c3Ryb2tlLW9wYWNpdHk6LjI1IiBkPSJNIDAsMCA0LDQgTSAwLDQgNCwwIi8+Cjwvc3ZnPg==");
	background-position: center;
	background-repeat: repeat;
	background-size: 4px auto;
	color: #BBB;
	overflow-x: hidden;
	user-select: none;
}

body {
	font-family: 'Montserrat', 'Georgia', consolas, serif;
}

a {
	color: blue;
	text-decoration: none;
}

a:focus, a:hover {
	text-decoration: underline;
}

code {
	font-family: consolas;
	user-select: text;
	white-space: pre;
}

/* Default list margin. */
ul {
	margin-left: 1em;
}

table {
	table-layout: fixed;
	width: 100%;
}

/* Text cursor & user selecting elements. */
input[type=email], input[type=password], input[type=text], textarea {
	background: rgba(0, 0, 0, .25);
	border: none;
	border-radius: 2px;
	box-shadow: 0 0 2px black;
	color: #BBB;
	cursor: url("/includes/text.cur"), text;
	height: 24px;
	resize: none;
	user-select: text;
}

/* Hand cursor elements. */
a, a > img, input[type="checkbox"], input[type="button"], input[type="submit"] {
	cursor: url("/includes/hand.cur"), pointer !important;
}

.button-wrap {
	background: rgba(0, 0, 0, .25);
	box-shadow: 0 0 2px black;
	display: inline-block;
	height: 24px;
}

.button-wrap > input {
	background: none;
	border: none;
	border-radius: 2px;
	box-shadow: none;
	color: #BBB;
	display: block;
	height: 18px;
	left: 2.5%;
	line-height: 0;
	position: relative;
	text-shadow: 0 0 2px black;
	top: 3px;
	width: 96%;
}

.button-wrap > input:focus, .button-wrap > input:hover {
	background: rgba(255, 255, 255, .036);
	box-shadow: 0 0 2px black;
}

/* Colors. */
.black	{ color: black !important;	text-shadow: 0 0 .0625em; }
.grey	{ color: grey !important;	text-shadow: 0 0 .0625em; }
.white	{ color: white !important;	text-shadow: 0 0 .0625em; }
.red	{ color: red !important;	text-shadow: 0 0 .0625em; }
.orange	{ color: orange !important;	text-shadow: 0 0 .0625em; }
.green	{ color: green !important;	text-shadow: 0 0 .0625em; }
.lime	{ color: lime !important;	text-shadow: 0 0 .0625em; }
.blue	{ color: blue !important;	text-shadow: 0 0 .0625em; }
.purple	{ color: purple !important;	text-shadow: 0 0 .0625em; }

/* Disabled element. */
.disabled { 
	color: grey !important;
	cursor: default !important;
	pointer-events: none !important;
}

/* Text highlighting. */
::selection {
	background: dimgrey;
	color: red;
}

/* Shake animation. */
@keyframes shake {
	0% {transform: translate(-1px, 1px);}
	20%{transform: translate(1px, -1px);}
	40%{transform: translate(0, 0);}
	60%{transform: translate(-1px, -1px);}
	80%{transform: translate(1px, 1px);}
	100%{transform: translate(0, 0);}
}

/* Electrify animation. */
@keyframes electrify {
	0% {transform: skew(180deg);}
	20%{transform: skew(-180deg);}
	40%{transform: skew(180deg);}
	60%{transform: skew(-180deg);}
	80%{transform: skew(180deg);}
	100%{transform: skew(-180deg);}
}

/* Fade-in animation. */
@keyframes fade-in {
	0%	 {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes slide-left {
	from, 60%, 75%, 90%, to { animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
	from { opacity: 0; transform: translate3d(3000px, 0, 0); }
	60% { opacity: 1; transform: translate3d(-25px, 0, 0); }
	75% { transform: translate3d(10px, 0, 0); }
	90% {transform: translate3d(-5px, 0, 0); }
	to {transform: none; }
}

/* ########################################################################## */
/* #### Header ############################################################## */
/* ########################################################################## */
.header {
	height: 150px;
	background: rgba(255, 255, 255, .063);
	border-bottom: 1px solid rgba(255, 255, 255, .063);
	border-radius: 2px;
	box-shadow: 0 0 2px black;
	left: 0;
	overflow: hidden;
	table-layout: fixed;
	text-align: center;
	top: 0;
	white-space: nowrap;
	width: 100%;
}

.header {
}

.header tr {
	height: 50px;
}

.header td {
	overflow: hidden;
}

.header-logo {
	border-radius: 2px;
	background: url("/images/logo.jpg") no-repeat scroll center / 100% 100% rgba(0, 0, 0, 0);
	display: block;
	height: 142px;
	margin: 4px;
	width: calc(100% - 12px);
}

.header td, .navbar td {
	overflow: hidden;
}

.header td > div, .navbar td > div {
	background: rgba(0, 0, 0, .25);
	border-radius: 2px;
	box-shadow: 0 0 2px black;
	height: 40px;
	overflow: hidden;
	width: calc(100% - 8px)
}

.header td > div > a, .navbar td > div > a {
	background: none;
	border-radius: 2px;
	color: #BBB;
	display: block;
	left: 5px;
	line-height: 32px;
	overflow: hidden;
	position: relative;
	text-shadow: 0 0 2px black;
	top: 4px;
	width: calc(100% - 8px);
}

.header td > div > a:focus, .header td > div > a:hover, .navbar td > div > a:focus, .navbar td > div > a:hover {
	background: rgba(255, 255, 255, .036);
	box-shadow: 0 0 2px black;
}

.header td > div > a:active, .navbar td > div > a:active {
	background: rgba(127, 127, 127, .036);
}

.header .info {
	background: rgba(0, 0, 0, .25);
	border-radius: 2px;
	box-shadow: 0 0 2px black;
	font-family: consolas;
	font-size: 75%;
	table-layout: fixed;
	text-align: center;
	width: calc(100% - 8px);
}

.header .info tr {
	height: 0;
	line-height: 17.125px;
}

.header .info tr:not(:last-of-type) {
	border-bottom: 1px solid rgba(255, 255, 255, .036);
}

.header .info td:not(:last-of-type) {
	border-right: 1px solid rgba(255, 255, 255, .036);
}

.header .info h1, .header .info h2, .navbar-logo {
	color: #BBB;
	font-family: 'Montserrat';
	font-size: 275%;
	margin: 0;
	padding: 0;
}

.header .info h2 {
	font-size: 14px;
}

.header .info .katamari {
	background-image:	url("/images/katamari/beautiful-katamari/harvest.gif"), 
						url("/images/katamari/katamari-damacy/prince.gif"), 
						url("/images/katamari/me-&-my-katamari/mu.gif"), 
						url("/images/katamari/katamari-damacy/dipp.gif"), 
						url("/images/katamari/we-love-katamari/kinoko.gif");
	background-position: 0%, 25%, 50%, 75%, 100%;
	background-repeat: no-repeat;
	background-size: 20% 100%;
}

.header .login {
	height: 40px;
	position: relative;
	top: 0;
	width: calc(100% - 8px);
}

.header .login table {
	width: 100%;
}

.header .login table tr {
	height: 18px;
}

.header .login input, .slider {
	background: rgba(0, 0, 0, .25);
	border: none;
	box-shadow: 0 0 2px black;
	font-size: 70%;
	max-height: 16px;
	left: 0;
	line-height: 16px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: 0;
	width: 75%;
	height: 18px;
}

.header .login input[name=user_pass], .header .login .slider {
	top: 23px;
}

.header .login input[name=login], .header .login .slider  {
	left: 78%;
	width: 22%;
}

.header .login .slider {
	background: rgba(0, 0, 0, .25);
	box-shadow: 0 0 2px black;
	font-size: 50%;
}

.header .login .slider:after {
	bottom: -3px;
	content: 'OFF';
	color: orange;
	position: absolute;
	right: 5px;
}

.header .login .slider:before {
	bottom: -3px;
	content: 'ON';
	color: lime;
	position: absolute;
	left: 5px;
}

.slider p {
	font-size: 85%;
	left: -1px;
	line-height: 7px;
	position: absolute;
}

.header .login .slider input[name=remember_me] {
	opacity: 0;
	z-index: 2;
}

.header .login .slider label[for=remember_me] {
	background: #222;
	box-shadow: 0 0 2px black;
	display: block;
	width: 50%;
	height: 8px;
	border-radius: 2px;
	transition: all .5s ease;
	cursor: pointer;
	position: relative;
	top: 7px;
	left: 2%;
	z-index: 1;
}

.header .login .slider input[name=remember_me]:checked + label {
	left: 49%;
}


.navbar {
	background: rgba(34, 34, 34, .9);
	border-bottom: 1px solid rgba(255, 255, 255, .063);
	height: 50px;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	table-layout: fixed;
	text-align: center;
	top: -51px;
	transition: 1s;
	width: 100%;
	z-index: 2;
}

.navbar-show {
	opacity: 1 !important;
	top: 0 !important;
	transition: .5s !important;
}

.navbar-logo {
		display: block;
		font-size: 200%;
		margin: 4px;
		overflow: hidden;
		width: calc(100% - 10px);
	}
/* ########################################################################## */
/* #### Content ############################################################# */
/* ########################################################################## */
.content{
	font-size: 90%;
	margin: 24px 16.67% 0;
	min-height: 1280px;
	width: 66.66%;
	z-index: 1;
}

.content-box {
	background: rgba(255, 255, 255, .015625);
	border: 1px solid rgba(255, 255, 255, .125);
	border-radius: 2px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
	left: 0;
	margin: 0 0 25px;
	position: relative;
}

.content-box > h2, .content-box > h3 {
	background: rgba(255, 255, 255, .03125);
	border-bottom: 1px solid rgba(255, 255, 255, .0625);
	line-height: 30px;
	overflow: hidden;
	padding: 0 4px;
	position: relative;
	white-space: nowrap;
}

.content-box h2 a, .content-box > h3 a {
	color: #BBB;
}

.content-box > h3 {
	line-height: 20px;
}

.content-box h2 + h3 {
	padding: 0;
}

.content-box > h2 input[name=delete_post] {
	background: rgba(255, 255, 255, .5);
	border: 1px solid rgba(255, 255, 255, .0625);
	border-radius: 2px;
	color: black;
	height: 20px;
	line-height: 0;
	position: absolute;
	right: 0.5%;
	top: 5px;
	width: 20px;
}
.content-box > h2 input[name=delete_post]:focus, .content-box > h2 input[name=delete_post]:hover {
	background: rgba(255, 255, 255, .25);
}

.content-box > h2 input[name=delete_post]:active {
	background: rgba(255, 255, 255, .125);
}

.content-box > h3.timestamp{
	border-bottom: 1px solid rgba(255, 255, 255, .0625);
	font-family: sans-serif;
	font-size: 90%;
	margin: 1px 4px;
	width: 98%;
}

.content-box > h3.timestamp .author{
	position: absolute;
	right: 0;
}

.content-box > p{
	padding: 4px;
	overflow: hidden;
	user-select: text;
}

.content-box > p img, .content-box > p video {
	background: black;
	box-shadow: 0 0 .25em black;
	float: right;
	height: 12.375vw;
	margin-left: 4px;
	width: 22vw;
}

.content-box > p + table {
	border-top: 1px solid rgba(255, 255, 255, .125);
}

.content-box > .txt, .content-box > .txt * {
	color: #BBB !important;
}

.content-box hr {
	border: none;
	box-shadow: 0 0 .125em teal;
	height: 1px;
}

.content .navtable {
	border-collapse: collapse;
	table-layout: fixed;
	white-space: nowrap;
	width: 100%;
}

.content .navtable tr:not(:last-of-type) {
	border-bottom: 1px solid rgba(255, 255, 255, .125);
}

.content .navtable td:not(:last-of-type) {
	border-right: 1px solid rgba(255, 255, 255, .125);
}

.content .navtable td {
	box-shadow: 0px 0px 3em .0625em rgba(64, 64, 64, 0.125) inset;
	overflow: hidden;
	text-align: center;
	transition: 1s ease-in;
}
.content .navtable td:hover:not(.empty) {
	background: rgba(128, 128, 128, .125);
	transition: none;
}

.content .navtable a {
	color: #BBB;
	font-size: 80%;
	text-align: inline-block;
}

.content .navtable a:focus, .content .navtable td a:hover {
	text-shadow: 0 0 .125em;
}

.content .navtable .icon {
	background-image: url("/images/misc/document.png");
	background-size: 100%;
	cursor: url("/includes/hand.cur"), pointer;
	display: block;
	height: 48px;
	margin: 0 auto;
	width: 48px;
}

.content .navtable .dir{
	background-image:  url("/images/misc/folder.png");
}

.content .navtable .url{
	background-image:  url("/images/misc/url.png");
}

.content .navtable .cpp {
	background-image:  url("/images/misc/source.png");
}

/* ########################################################################## */
/* #### Editor ############################################################## */
/* ########################################################################## */
.editor h2 select {
	position: relative;
	top: 2.5px;
}

.editor table {
	margin: 0 1%;
	table-layout: fixed;
	width: 98%;
}

.editor fieldset {
	background: rgba(32, 32, 32, .25);
	border: 1px solid rgba(255, 255, 255, .0625);
	border-radius: 2px;
	height: 70px;
	margin-top: 1px;
}

.editor select, .editor input, .editor textarea, .editor .path-field p, .imageboard .header-field input {
	background: rgba(0, 0, 0, .25);
	border: none;
	border-radius: 2px;
	box-shadow: 0 0 2px black;
	height: 24px;
	resize: none;
}

.editor .title-field, .editor .path-field {
	margin-right: 5px;
}

.editor .title-field select {
	width: 33%;
}

.editor .title-field input {
	float: right;
	width: 63.5%;
}

.editor .tags-field, .editor .extra-field {
	margin-left: 5px;
}

.editor .tags-field input {
	width: 100%;
}

.editor .tags-field p, .editor .extra-field p {
	font-size: 75%;
	margin: 6px 0 0;
	text-align: center;
}

.editor .path-field input {
	background: none;
	box-shadow: none;
	min-width: 50%;
}

.editor .content-field {
	height: 581px;
}

.editor .content-field textarea {
	width: 100%;
	height: 564px;
}

.editor .submit-field {
	text-align: center;
}

.editor .submit-field div {
	background: rgba(0, 0, 0, .25);
	box-shadow: 0 0 2px black;
	display: inline-block;
	margin: 10px 0;
	width: 15%;
	height: 24px;
}

.editor .submit-field input  {
	background: none;
	border-radius: 2px;
	box-shadow: none;
	color: #BBB;
	display: block;
	left: 2.5%;
	line-height: 0;
	position: relative;
	text-shadow: 0 0 2px black;
	top: 2px;
	width: 95%;
}

.editor .submit-field input:focus, .editor .submit-field input:hover {
	background: rgba(255, 255, 255, .036);
	box-shadow: 0 0 2px black;
}

#mceu_46 {
	text-shadow: 0 1px 1px lime
}

/* ########################################################################## */
/* #### Asides ############################################################## */
/* ########################################################################## */
.left-box, .left-box2, .right-box, .right-box2, .content-nav{
	background: rgba(32, 32, 32, .25);
	border: 1px solid rgba(255, 255, 255, .125);
	border-radius: 2px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
	height: 600px;
	left: 0;
	min-width: 157px;
	overflow: hidden;
	position: absolute;
	top: 175px;
	width: 14.65%;
}

.left-box h2, .left-box2 h2, .right-box h2, .right-box2 h2, .content-nav h2{
	background: rgba(32, 32, 32, .25);
	border-bottom: 1px solid rgba(255, 255, 255, .0625);
	font-size: 120%;
	text-align: center;
	white-space: nowrap;
}

.right-box, .right-box2{
	left: auto;
	right: 0;
	z-index: 1;
}

.left-box2, .right-box2{
	top: 802px;
}

.left-box:not(.content .left-box), .left-box2, .content-nav {
	transition: all 1s, opacity .25s;
}
.content-nav , .content .left-box{
	left: -25%;
	top: 0;
	width: 22%;
	z-index: 1;
}

.left-box a {
	color: #BBB;
}

.left-box ul, .content-nav ul{
	font-size: 12px;
	list-style: none;
	white-space: nowrap;
}
/*
.left-box li:before, .content-nav li:before{
	content: "≪ ";
}

.left-box a, .content-nav a{
	color: lime;
	text-decoration: none;
	text-shadow: 0 0 .0625em lime;
}

.left-box a:focus, .left-box a:hover, .content-nav a:focus, .content-nav a:hover{
	text-decoration: underline;
}*/

.left-box2{
	background: #202020;
	text-align: center;
}

.wowhead-newsfeed{
	height: 425px;
	padding: 0 !important;
	width: 99% !important;
}

.wowhead-header{
	display: none;
}

.wowhead-inner a{
	color: orange !important;
	font-size: 95% !important;
	text-shadow: 0 0 .125em black;
	transition: .5s;
}

.wowhead-cont a:hover {
	color: white !important;
	transition: none;
}

.wowhead-searchbox{
	background: black;
	border-top: 1px solid teal;
	bottom: 0;
	position: absolute;
}

.wowhead-searchbox iframe{
	border: none;
	height: 120px;
	width: 100%;
}

/* ########################################################################## */
/* #### Footer ############################################################## */
/* ########################################################################## */
.footer {
	background: rgba(0, 0, 0, .9);
	bottom: 0;
	font-size: 90%;
	height: 20px;
	line-height: 20px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 2;
}

.feedback, .benchmark {
	font-family: consolas;
	font-size: 70%;
	left: .25%;
	position: fixed;
	z-index: 1;
}

.benchmark {
	left: auto;
	right: .25%;
}

.footer a {
	color: #BBB;
	text-decoration: none;
}

.footer a:focus, .footer a:hover {
	text-decoration: underline;
}

#chat {
	background: rgba(34, 34, 34, .9);
	border: 1px solid rgba(255, 255, 255, .063);
	border-radius: 2px;
	bottom: 18px;
	height: 200px;
	overflow: hidden;
	position: fixed;
	right: 16.67%;
	width: 33.32%;
	-moz-user-select: text;
	z-index: 1;
}

.chat-messages {
	background: rgba(0, 0, 0, .25);
	border: none;
	border-radius: 2px;
	box-shadow: 0 0 2px black;
	height: 160px;
	left: 1%;
	overflow-x: hidden; 
	overflow-y: scroll;
	padding: 0 1%;
	position: relative;
	resize: none;
	top: 4px;
	user-select: text;
	width: 96%;
}
.chat-message {
	padding: 0 1%;
	position: relative;
	top: 3px;
	left: 1%;
	width: 80%;
}

#chat .submit-wrap {
	left: 1.5%;
	position: relative;
	top: 1px;
}

.submit-wrap {
	background: rgba(0, 0, 0, .25);
	box-shadow: 0 0 2px black;
	display: inline-block;
	margin: 10px 0;
	width: 16%;
	height: 24px;
}

input[type="submit"]{
	background: none;
	border: none;
	border-radius: 2px;
	box-shadow: none;
	color: #BBB;
	display: inline-block;
	left: 2.5%;
	line-height: 0;
	height: 20px;
	position: relative;
	text-shadow: 0 0 2px black;
	top: 2px;
	width: 90%;
}

input[type="submit"]:focus, input[type="submit"]:hover {
	background: rgba(255, 255, 255, .036);
	box-shadow: 0 0 2px black;
}

/* ########################################################################## */
/* #### Testing area ######################################################## */
/* ########################################################################## */
.sc2nav {
	height: 100px;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}

.sc2nav td {
	transition: .5s;
}

.sc2nav td:not(:first-of-type){
	border-left: 1px solid rgba(255, 255, 255, .063);
}

.sc2nav td:focus, .sc2nav td:hover {
	transition: none;
}

.sc2nav td.protoss:focus, .sc2nav td.protoss:hover {
	background: rgba(187, 187, 64, .031);
}

.sc2nav td.terran:focus, .sc2nav td.terran:hover {
	background: rgba(17, 17, 96, .063);
}

.sc2nav td.zerg:focus, .sc2nav td.zerg:hover {
	background: rgba(64, 17, 64, .125);
}

.sc2nav a {
	text-shadow: 0 0 3px black;
}

.sc2nav a img:hover {
	cursor: url("/includes/hand.cur"), pointer;
}

.protoss a, .protoss {
	color: #bbbb40 !important;
}

.terran a, .terran {
	color: #111160 !important;
}

.zerg a, .zerg {
	color: #401140 !important;
}

.build-orders a {
	color: #BBB;
}

.sub-games a {
	color: #BBB;
}

.sc2nav td.build-orders:focus, .sc2nav td.build-orders:hover {
	background: rgba(255, 255, 255, .031);
}

.sc2nav td.sub-games:focus, .sc2nav td.sub-games:hover {
	background: rgba(255, 255, 255, .031);
}

/* ########################################################################## */
/* #### Phone & Tablet ###################################################### */
/* ########################################################################## */

@media(max-width: 960px){
	.content {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	
	.left-box, .left-box2, .right-box, .right-box2, .content-nav{
		display: none;
	}
}

/* ########################################################################## */
/* #### Testing area ######################################################## */
/* ########################################################################## */

li {
	position: relative;
	margin-left: -10px;
	list-style: none;
	white-space: nowrap;
}

li.file {
	margin-left: -1px !important;
}

li.file a {
	background: url("/images/misc/document-small.png") 0 0 no-repeat;
	color: #fff;
	padding-left: 24px;
	text-decoration: none;
	display: block;
}

li.file a[href $='.pdf'] {
	background: url("/images/misc/document-small.png") 0 0 no-repeat;
}

li.file a[href $='.html'] {
	background: url("/images/misc/document-small.png") 0 0 no-repeat;
}

li.file a[href $='.css'] {
	background: url("/images/misc/document-small.png") 0 0 no-repeat;
}

li.file a[href $='.js'] {
	background: url("/images/misc/document-small.png") 0 0 no-repeat;
}

li input {
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}

li input + ul {
	background: url("/images/misc/toggle-small-expand.png") 42px -3px no-repeat;
	margin: -0.938em 0 0 -44px;
	/* 15px */
	height: 1em;
}

li input:checked + ul {
	background: url("/images/misc/toggle-small.png") 42px 2px no-repeat;
	margin: -1.25em 0 0 -44px;
	/* 20px */
	padding: 1.563em 0 0 80px;
	height: auto;
}

li input + ul > li {
	display: none;
	margin-left: -14px !important;
	padding-left: 1px;
}

li label {
	background: url("/images/misc/folder-small.png") 15px 1px no-repeat;
	cursor: pointer;
	display: block;
	padding-left: 37px;
}


li input:checked + ul > li {
	display: block;
	margin: 0 0 0.125em;
	/* 2px */
}

li input:checked + ul > li:last-child {
	margin: 0 0 0.063em;
	/* 1px */
}
